body {
  background-color: #f0ebf8;
}

form {
  width: 640px;
  margin: 0 auto;
  background-color: #f0ebf8;
}

main {
  background-color: #f0ebf8;
}

section {
  border: 9px solid red;
  border: 1px solid #dadada;
  width: 640px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  word-wrap: break-word;
}

input {
  border-bottom: 1px solid #dadada;
}

h1 {
  font-size: 32pt;

  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
}

hr {
  border-color: #dadada;
}

a {
  color: #1f64d4;
  text-decoration: underline;
}

.ttt {
  border-top: 10px solid #673ab7;
}

.T2 {
  width: 640px;
  margin: 0 auto;
  font-size: 12px;
  margin-top: 8px;
  color: #6c6a70;
}

.T3 {
  width: 640px;
  margin: 0 auto;
  color: #6c6a70;
}

.Tac {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.A {
  margin: 16px auto;
}

.B {
  margin: 24px auto;
  font-size: 22.1px;
}

.C {
  color: #6c6a70;
}

span {
  color: red;
}

.s4 {
  font-size: 14px;
}

.s2 {
  font-size: 14.6667px;
}

.B1 {
  background-color: #673ab7;
  color: #ffffff;
}
.B2 {
  text-align: right;
  color: #987acf;
}
